.button
	position: relative
	font-family: $default-font
	text-transform: uppercase
	background: transparent
	z-index: 99
	font-size: 12px
	font-weight: 500
	letter-spacing: 0.025em
	transition: 0.5s all ease
	display: block
	padding: 15px 35px
	line-height: 1em
	cursor: pointer
	border: 1px solid $curious-blue-dark
	border-radius: 2px
	&:before
		position: absolute
		content: ''
		width: 0
		height: 100%
		background: $curious-blue-dark
		top: 0
		left: auto
		right: 0
		z-index: -1
		transition: all .5s ease
	&:hover
		color: white
		&:before
			position: absolute
			content: ''
			width: 100%
			height: 100%
			background: $curious-blue-dark
			top: 0
			left: 0
			right: 0
			z-index: -1
	&__red
		border-color: $amaranth
		&:before
			background: $amaranth
		&:hover
			&:before
				background: $amaranth
	&__small-full
		+r(320)
			display: block
			width: 100%
.title
	position: relative
	margin-bottom: 30px
	h2
		font-weight: 700
		font-size: 40px
		color: $cod-gray
		line-height: 1em
		position: relative
		+r(992)
			font-size: 36px
		+r(768)
			font-size: 30px
		+r(576)
			font-size: 28px
		&.car-number
			position: relative

			&::before
				content: url("../img/car-number.png")
				position: absolute
				left: 110px
				top: -150px
				z-index: -1
				+r(992)
					content: none
	h3
		font-weight: 700
		font-size: 40px
		line-height: 1em
		+r(992)
			font-size: 36px
		+r(768)
			font-size: 30px
		+r(576)
			font-size: 28px
		span
			font-weight: 600
			display: inline-block
			line-height: 1em
			color: $white
			text-transform: uppercase
			background: $maroon-flush
			padding: 5px 10px
	&::before, &::after
		content: ''
		position: absolute
	&::before
		background: $mercury
		width: 100%
		height: 1px
		right: 107%
		bottom: 2px
	&::after
		right: 107%
		bottom: 0
		width: 5px
		height: 5px
		background: $curious-blue
	&__right
		text-align: right
		padding-right: 40px
		+r(576)
			text-align: left
			padding-right: 40px
		&::before
			left: 103%
		&::after
			left: 103%

.main-bg
	position: relative
	background: url("../img/main-bg.png") no-repeat center top
.parallax
	position: absolute
	z-index: -1
	+r(992)
		display: none
	&-one
		img
			transform: scale(1.5)
	&-two
		right: 0
	&-three
		right: 50px
	&-four
		right: -50px
		img
			transform: scale(1.5)
