<section class="advantages" id="advantages">
  <div class="container">
    <div class="title title__right">
      <h2>
        Преимущества работы с нами
      </h2>
    </div>
    <div class="advantages__wrapper">
      <div class="advantages__block advantages__block_long">
        <h3>
          Круглосуточная поддержка
        </h3>
        <p>
          Гарантируем сервисную поддержку 24/7 в любой ситуации
        </p>
      </div>
      <div class="advantages__block">
        <h3>
          Официальные
          выплаты
        </h3>
        <p>
          Еженедельные выплаты
          согласно договору
        </p>
      </div>
      <div class="advantages__block">
        <h3>
          График 6/1
        </h3>
        <p>
          Предоставляем 1 выходной
          день в неделю
        </p>
      </div>
      <div class="advantages__block">
        <h3>
          Автомобили
          2017-2018 года
        </h3>
        <p>
          Все автомобили в отличном
          состоянии.
        </p>
      </div>
      <div class="advantages__block advantages__block_long">
        <h3>
          Все необходимое для работы
        </h3>
        <p>
          Предоставляем все необходимое для работы и для езды по выделенной линии (шашка, шашечный пояс, путевые листы, БСО, карточка водителя)
        </p>
      </div>
      <div class="advantages__block">
        <h3>
          Бонусы
        </h3>
        <p>
          Предоставляем бонусы
          за привлечение водителей
        </p>
      </div>
    </div>
  </div>
</section>
