<section class="application" id="application">
  <div class="container">
    <div class="row">
      <div class="col-md-4 order-2 order-md-1">
        <div class="application__phone_wrapper">
          <div class="application__phone">
            <div class="application__phone_logo">
              <img src="img/logo.svg" alt="">
            </div>
            <h4>
              Оставьте
              <span>
                заявку
              </span>
            </h4>
            <p>
              на подключение
            </p>
            <form action="sendmail.php" class="form">
              <div class="form__input">
                <input type="text" name="name" placeholder="Ваше имя" required>
              </div>
              <div class="form__input">
                <input type="tel" name="tel" placeholder="Ваш телефон" required>
              </div>
              <button class="main-button light">
                оставить заявку
              </button>
              <div class="form__input">
                <div class="form__checkbox">
                  <input type="checkbox" value="agree" id="agreeTwo" name="agree" class="checkbox" checked required>
                  <label for="agreeTwo" class="form__checkbox_label">
                    Согласие на обработку <a href="#">Персональных данных</a>
                  </label>
                </div>
              </div>
            </form>
          </div>
          <div class="application__abs">
            <img src="img/car-app.png" alt="">
          </div>
        </div>
      </div>
      <div class="col-md-8 order-1 order-md-2">
        <div class="application__text">
          <div class="title title__right">
            <h2>
              Станьте водителем
            </h2>
            <h3>
              с  <span>альфа-лидер</span>
            </h3>
          </div>
          <p>
            Мы поможем подключиться к ЯндексТакси и Гетт.
          </p>
          <a href="#" class="modal_open">Просто оставьте заявку</a>

        </div>

      </div>
    </div>
  </div>
</section>
