<section class="faq" id="faq">
  <div class="parallax parallax-four" data-paroller-factor="0.2" data-paroller-type="foreground" data-paroller-direction="vertical">
    <img src="img/parallax.png" alt="parallax">
  </div>
  <div class="parallax parallax-five" data-paroller-factor="-0.5" data-paroller-type="foreground" data-paroller-direction="vertical">
    <img src="img/parallax.png" alt="parallax">
  </div>
  <div class="container">
    <div class="faq__wrapper">
      <div class="faq__content">
        <div class="faq__info">
          <div class="title">
            <h2>
              Вопрос-ответ
            </h2>
          </div>
          <p>
            Мы разместили здесь самые популярные вопросы, которые часто задают нам
          </p>

        </div>
        <div class="faq__tabs_content">
          <div class="faq__tabs_item active">
            <div class="faq__tabs_title">
              <h3>
                О компании UBER
              </h3>
            </div>
            <div class="faq__tabs_text">
              <p>
                UBER — это крупная международная компания,
                работающая в 360 городах 67 стран мира,
                число которых постоянно растет.
                Компания является разработчиком одноименного
                мобильного приложение для вызова и оплаты автомобиля.
                UBER — это крупная международная компания,
                работающая в 360 городах 67 стран мира,
                число которых постоянно растет.
                Компания является разработчиком одноименного
                мобильного приложение для вызова и оплаты автомобиля.
              </p>
            </div>
          </div>
          <div class="faq__tabs_item">
            <div class="faq__tabs_title">
              <h3>
                О компании UBER
              </h3>
            </div>
            <div class="faq__tabs_text">
              <p>
                UBER — это крупная международная компания,
                работающая в 360 городах 67 стран мира,
                число которых постоянно растет.
                Компания является разработчиком одноименного
                мобильного приложение для вызова и оплаты автомобиля.
              </p>
            </div>
          </div>
          <div class="faq__tabs_item">
            <div class="faq__tabs_title">
              <h3>
                О компании UBER
              </h3>
            </div>
            <div class="faq__tabs_text">
              <p>
                UBER — это крупная международная компания,
                работающая в 360 городах 67 стран мира,
                число которых постоянно растет.
                Компания является разработчиком одноименного
                мобильного приложение для вызова и оплаты автомобиля.
              </p>
            </div>
          </div>
          <div class="faq__tabs_item">
            <div class="faq__tabs_title">
              <h3>
                О компании UBER
              </h3>
            </div>
            <div class="faq__tabs_text">
              <p>
                UBER — это крупная международная компания,
                работающая в 360 городах 67 стран мира,
                число которых постоянно растет.
                Компания является разработчиком одноименного
                мобильного приложение для вызова и оплаты автомобиля.
              </p>
            </div>
          </div>
          <div class="faq__tabs_item">
            <div class="faq__tabs_title">
              <h3>
                О компании UBER
              </h3>
            </div>
            <div class="faq__tabs_text">
              <p>
                UBER — это крупная международная компания,
                работающая в 360 городах 67 стран мира,
                число которых постоянно растет.
                Компания является разработчиком одноименного
                мобильного приложение для вызова и оплаты автомобиля.
              </p>
            </div>
          </div>
          <div class="faq__tabs_item">
            <div class="faq__tabs_title">
              <h3>
                О компании UBER
              </h3>
            </div>
            <div class="faq__tabs_text">
              <p>
                UBER — это крупная международная компания,
                работающая в 360 городах 67 стран мира,
                число которых постоянно растет.
                Компания является разработчиком одноименного
                мобильного приложение для вызова и оплаты автомобиля.
              </p>
            </div>
          </div>
          <div class="faq__tabs_item">
            <div class="faq__tabs_title">
              <h3>
                О компании UBER
              </h3>
            </div>
            <div class="faq__tabs_text">
              <p>
                UBER — это крупная международная компания,
                работающая в 360 городах 67 стран мира,
                число которых постоянно растет.
                Компания является разработчиком одноименного
                мобильного приложение для вызова и оплаты автомобиля.
              </p>
            </div>
          </div>
          <div class="faq__tabs_item">
            <div class="faq__tabs_title">
              <h3>
                О компании UBER
              </h3>
            </div>
            <div class="faq__tabs_text">
              <p>
                UBER — это крупная международная компания,
                работающая в 360 городах 67 стран мира,
                число которых постоянно растет.
                Компания является разработчиком одноименного
                мобильного приложение для вызова и оплаты автомобиля.
              </p>
            </div>
          </div>
          <div class="faq__tabs_item">
            <div class="faq__tabs_title">
              <h3>
                О компании UBER
              </h3>
            </div>
            <div class="faq__tabs_text">
              <p>
                UBER — это крупная международная компания,
                работающая в 360 городах 67 стран мира,
                число которых постоянно растет.
                Компания является разработчиком одноименного
                мобильного приложение для вызова и оплаты автомобиля.
              </p>
            </div>
          </div>
          <div class="faq__tabs_item">
            <div class="faq__tabs_title">
              <h3>
                О компании UBER
              </h3>
            </div>
            <div class="faq__tabs_text">
              <p>
                UBER — это крупная международная компания,
                работающая в 360 городах 67 стран мира,
                число которых постоянно растет.
                Компания является разработчиком одноименного
                мобильного приложение для вызова и оплаты автомобиля.
              </p>
            </div>
          </div>
          <div class="faq__tabs_item">
            <div class="faq__tabs_title">
              <h3>
                О компании UBER
              </h3>
            </div>
            <div class="faq__tabs_text">
              <p>
                UBER — это крупная международная компания,
                работающая в 360 городах 67 стран мира,
                число которых постоянно растет.
                Компания является разработчиком одноименного
                мобильного приложение для вызова и оплаты автомобиля.
              </p>
            </div>
          </div>
          <div class="faq__tabs_item">
            <div class="faq__tabs_title">
              <h3>
                О компании UBER
              </h3>
            </div>
            <div class="faq__tabs_text">
              <p>
                UBER — это крупная международная компания,
                работающая в 360 городах 67 стран мира,
                число которых постоянно растет.
                Компания является разработчиком одноименного
                мобильного приложение для вызова и оплаты автомобиля.
              </p>
            </div>
          </div>
        </div>
        <div class="faq__tabs_nav">
          <button id="prev" class="faq__tabs_button">
            Назад
          </button>
          <div class="faq__tabs_number">
            <span class="faq__tabs_current"></span>
            /
            <span class="faq__tabs_max"></span>
          </div>
          <button id="next" class="faq__tabs_button">
            Далее
          </button>
        </div>
      </div>
      <div class="faq__tabs_elements">
        <div class="faq__tabs_tab">
          О компании uber
        </div>
        <div class="faq__tabs_tab">
          Нужно ли регистрировать ЧП?
        </div>
        <div class="faq__tabs_tab">
          Нужно ли проходить обучение?
        </div>
        <div class="faq__tabs_tab">
          Все выглядит здорово а есть ли недостатки?
        </div>
        <div class="faq__tabs_tab">
          Сколько стоит подключение водителя к uber?
        </div>
        <div class="faq__tabs_tab">
          Нужна ли банковская карта?
        </div>
        <div class="faq__tabs_tab">
          Можно ли использовать uber в качестве доп зароботка?
        </div>
        <div class="faq__tabs_tab">
          Можно ли использовать uber в качестве доп зароботка?
        </div>
        <div class="faq__tabs_tab">
          Какой номер диспетчерской?
        </div>
        <div class="faq__tabs_tab">
          Какой номер диспетчерской?
        </div>
        <div class="faq__tabs_tab">
          Какой номер диспетчерской?
        </div>
        <div class="faq__tabs_tab">
          Какой номер диспетчерской?
        </div>
      </div>
    </div>
  </div>
</section>
