<section class="first-screen" id="first-screen">
  <div class="rotate-block">
    <img src="img/rotate-1.png" alt="">
  </div>
  <div class="abs-bg"></div>
  <div class="container">
    <div class="first-screen__wrapper">
      <div class="main-title">
        <h1>
          ЗАРАБАТЫВАЙТЕ С <span> aльфа-лидер </span>
        </h1>
        <h2>
          От <span>5 000</span> руб/сутки
        </h2>
        <p>
          Подключитесь от 0% и получайте заказы без простоя и холостого пробега
        </p>
      </div>
      <a href="#" class="main-button light modal_open">
        Подключиться
      </a>
      <div class="first-screen__slider">
        <div class="swiper-container">
          <div class="swiper-wrapper">
            <div class="swiper-slide">
              <p>
                Первый день бесплатно
              </p>
            </div>
            <div class="swiper-slide">
              <p>
                Второй день платно
              </p>
            </div>
            <div class="swiper-slide">
              <p>
                Третий день в три раза дороже
              </p>
            </div>
          </div>
          <!-- Add Pagination -->
          <div class="swiper-pagination"></div>
        </div>
      </div>
    </div>
  </div>
</section>
