<footer class="footer" id="footer">
  <div class="container">
    <div class="footer__wrapper">
      <div class="footer__address">
        <h2>
          Наши контакты
        </h2>
        <div class="footer__address_info">
          <p>
            <strong>
              Адрес:
            </strong>
            г. Москва, Исаковского, 33
          </p>
          <p>
            <strong>
              E-mail:
            </strong>
            <a href="mailto:a89653031624@gmail.com">
              a89653031624@gmail.com
            </a>
          </p>
          <p>
            <strong>
              WhatsApp:
            </strong>
            <a href="tel:+89653031624">
              +8 (965) 303-16-24
            </a>
          </p>
          <p>
            <strong>
              Телефон:
            </strong>
            <a href="tel:+74993505806">
              +7 (499) 350-58-06
            </a>
          </p>
        </div>
      </div>
      <div class="copyright">
        <a href="#" class="privacy-policy_open">Политика конфиденциальности</a>          © Альфа-лидер,2018. Все права защищены.
      </div>
    </div>
  </div>
</footer>
