<header class="header">
  <div class="container">
    <div class="header__wrapper">
      <div class="logo">
        <img src="img/logo.svg" alt="">
      </div>
      <div class="hiden-description">

        <div class="description">
          Аренда автомобилей
          для такси в Москве
        </div>

      </div>
      <div class="hiden-callback">
        <div class="callback">
          <div class="callback__tel">
            <a href="tel:+89653031624" class="tel whatsapp">+8 (965) 303-16-24</a>
            <a href="tel:+74993505806" class="tel">+7 (499) 350-58-06</a>
          </div>
          <button class="button modal_open">
            Заказать звонок
          </button>
        </div>
      </div>
      <nav class="nav">
        <ul class="menu">
          <li>
            <a href="#first-screen">
              Главная
            </a>
          </li>
          <li>
            <a href="#prices">
              Услуги и цены
            </a>
          </li>
          <li>
            <a href="#advantages">
              Наши преимущеcтва
            </a>
          </li>
          <li>
            <a href="#reviews">
              Отзывы
            </a>
          </li>
          <li>
            <a href="#application">
              Акция
            </a>
          </li>
          <li>
            <a href="#faq">
              Вопрос-ответ
            </a>
          </li>
          <li>
            <a href="#footer">
              Контакты
            </a>
          </li>
        </ul>
        <div class="callback">
          <div class="description">
            Аренда автомобилей
            для такси в Москве
          </div>
          <div class="callback__tel">
            <a href="tel:+89653031624" class="tel whatsapp">+8 (965) 303-16-24</a>
            <a href="tel:+74993505806" class="tel">+7 (499) 350-58-06</a>
          </div>
          <button class="button modal_open">
            Заказать звонок
          </button>
        </div>
      </nav>
      <div class="nav-button">
        <div class="bar">

        </div>
      </div>
    </div>
  </div>
</header>
