<div id="modal" class="modal">
  <div class="application__phone">
    <div class="application__phone_logo">
      <img src="img/logo.svg" alt="">
    </div>
    <h4>
      Оставьте
      <span>
                заявку
              </span>
    </h4>
    <p>
      на подключение
    </p>
    <form action="sendmail.php" class="form">
      <div class="form__input">
        <input type="text" name="name" placeholder="Ваше имя" required>
      </div>
      <div class="form__input">
        <input type="tel" name="tel" placeholder="Ваш телефон" required>
      </div>
      <button class="main-button light">
        оставить заявку
      </button>
      <div class="form__input">
        <div class="form__checkbox">
          <input type="checkbox" value="agree" id="agree" name="agree" class="checkbox" checked required>
          <label for="agree" class="form__checkbox_label">
            Согласие на обработку <a href="#" class="privacy-policy_open">Персональных данных</a>
          </label>
        </div>
      </div>
    </form>
    <div class="modal_close">
      <div class="bar">

      </div>
    </div>
  </div>
</div>
<div class="modal" id="privacy-policy">
  <div class="privacy-policy_close">
    <div class="bar">
    </div>
  </div>
  <div class="privacy-policy_text">
    <h4>
      ПОЛИТИКА
      <span>
        КОНФИДЕНЦИАЛЬНОСТИ
      </span>
    </h4>
    <p>
      Я, субъект персональных данных, в соответствии с Федеральным законом от 27 июля 2006 года № 152 «О персональных данных» предоставляю ООО "КП" (далее - Оператор), расположенному по адресу г. Самара ул. Мичурина л.76, согласие на обработку персональных данных, указанных мной в форме веб-чата и/или в форме заказа обратного звонка на сайте в сети «Интернет», владельцем которого является Оператор. Политика​​ конфиденциальности​​ персональной​​ информации (далее​​ —​​ Политика)​​ действует​​ в​​ отношении​​ всей​​ информации,​​ которую сайт vizasamara.ru. и/или​​ его​​ аффилированные​​ лица,​​ могут​​ получить​​ о пользователе​​ во​​ время​​ использования​​ им​​ сайта​​ vizasamara.ru. Использование​​ сайта​​ vizasamara.ru.​​ означает​​ безоговорочное​​ согласие пользователя​​ с​​ настоящей​​ Политикой​​ и​​ указанными​​ в​​ ней​​ условиями​​ обработки его​​ персональной​​ нформации;​​ в​​ случае​​ несогласия​​ с​​ этими​​ условиями пользователь​​ должен​​ воздержаться​​ от​​ использования​​ данного​​ ресурса.
    </p>
    <h5>
      1.​​ Персональная​​ информация​​ пользователей,​​ которую​​ получает​​ и обрабатывает​​ vizasamara.ru.
    </h5>
    <p>
      1.​​ Персональная​​ информация​​ пользователей,​​ которую​​ получает​​ и обрабатывает​​ vizasamara.ru.
      1.1.​​ В​​ рамках​​ настоящей​​ Политики​​ под​​ «персональной​​ информацией​​ пользователя» понимаются: 1.1.1.​​ Персональная​​ информация,​​ которую​​ пользователь​​ предоставляет​​ о​​ себе самостоятельно​​ при​​ оставлении​​ заявки,​​ совершении​​ покупки,​​ регистрации​​ (создании учётной​​ записи)​​ или​​ в​​ ином​​ процессе​​ использования​​ сайта. 1.1.2​​ Данные,​​ которые​​ автоматически​​ передаются​​ сайтом​​ vizasamara.ru.​​ в процессе​​ его​​ использования​​ с​​ помощью​​ установленного​​ на​​ устройстве​​ пользователя программного​​ обеспечения,​​ в​​ том​​ числе​​ IP-адрес,​​ информация​​ из​​ cookie,​​ информация о​​ браузере​​ пользователя​​ (или​​ иной​​ программе,​​ с​​ помощью​​ которой​​ осуществляется доступ​​ к​​ сайту),​​ время​​ доступа,​​ адрес​​ запрашиваемой​​ страницы. 1.1.3.​​ Данные,​​ которые​​ предоставляются​​ сайту,​​ в​​ целях​​ осуществления​​ оказания​​ услуг и/или​​ продаже​​ товара​​ и/или​​ предоставления​​ иных​​ ценностей​​ для​​ посетителей​​ сайта,​​ в соответствии​​ с​​ деятельностью​​ настоящего​​ ресурса:
      имя
      электронная​​ почта
      номер​​ телефона
      ссылка​​ на​​ персональный​​ сайт​​ или​​ соцсети
      1.2.​​ Настоящая​​ Политика​​ применима​​ только​​ к​​ сайту​​ vizasamara.ru.​​ и​​ не контролирует​​ и​​ не​​ несет​​ ответственность​​ за​​ сайты​​ третьих​​ лиц,​​ на​​ которые пользователь​​ может​​ перейти​​ по​​ ссылкам,​​ доступным​​ на​​ сайте​​ vizasamara.ru. На​​ таких​​ сайтах​​ у​​ пользователя​​ может​​ собираться​​ или​​ запрашиваться​​ иная персональная​​ информация,​​ а​​ также​​ могут​​ совершаться​​ иные​​ действия. 1.3.​​ Сайт​​ в​​ общем​​ случае​​ не​​ проверяет​​ достоверность​​ персональной​​ информации, предоставляемой​​ пользователями,​​ и​​ не​​ осуществляет​​ контроль​​ за​​ их дееспособностью.​​ Однако​​ сайт​​ vizasamara.ru.​​ исходит​​ из​​ того,​​ что​​ пользователь предоставляет​​ достоверную​​ и​​ достаточную​​ персональную​​ информацию​​ по​​ вопросам, предлагаемым​​ в​​ формах​​ настоящего​​ ресурса,​​ и​​ поддерживает​​ эту​​ информацию​​ в актуальном​​ состоянии.
    </p>
    <h5>
      2.​​ Цели​​ сбора​​ и​​ обработки​​ персональной​​ информации​​ пользователей
    </h5>
    <p>
      2.1.​​ Сайт​​ собирает​​ и​​ хранит​​ только​​ те​​ персональные​​ данные,​​ которые​​ необходимы для​​ оказания​​ услуг​​ и/или​​ продаже​​ товара​​ и/или​​ предоставления​​ иных​​ ценностей​​ для посетителей​​ сайта​​ vizasamara.ru. 2.2.​​ Персональную​​ информацию​​ пользователя​​ можно​​ использовать​​ в​​ следующих целях: 2.2.1​​ Предоставление​​ пользователю​​ персонализированных​​ услуг​​ и​​ сервисов,​​ товаров и​​ иных​​ ценностей 2.2.2​​ Связь​​ с​​ пользователем,​​ в​​ том​​ числе​​ направление​​ уведомлений,​​ запросов​​ и информации,​​ касающихся​​ использования​​ сайта,​​ оказания​​ услуг,​​ а​​ также​​ обработка запросов​​ и​​ заявок​​ от​​ пользователя
    </p>
    <h5>
      3.​​ Условия​​ обработки​​ персональной​​ информации​​ пользователя​​ и​​ её передачи​​ третьим​​ лицам
    </h5>
    <p>
      3.1.​​ Сайт​​ vizasamara.ru. хранит​​ персональную​​ информацию​​ пользователей​​ в соответствии​​ с​​ внутренними​​ регламентами​​ конкретных​​ сервисов. 3.2.​​ В​​ отношении​​ персональной​​ информации​​ пользователя​​ сохраняется​​ ее конфиденциальность,​​ кроме​​ случаев​​ добровольного​​ предоставления​​ пользователем информации​​ о​​ себе​​ для​​ общего​​ доступа​​ неограниченному​​ кругу​​ лиц. 3.3.​​ Сайт​​ vizasamara.ru.​​ вправе​​ передать​​ персональную​​ информацию пользователя третьим​​ лицам​​ в​​ следующих​​ случаях: 3.3.1.​​ Пользователь​​ выразил​​ свое​​ согласие​​ на​​ такие​​ действия,​​ путем​​ согласия выразившегося​​ в​​ предоставлении​​ таких​​ данных; 3.3.2.​​ Передача​​ необходима​​ в​​ рамках​​ использования​​ пользователем​​ определенного сайта​​ vizasamara.ru,​​ либо​​ для​​ предоставления​​ товаров​​ и/или​​ оказания​​ услуги пользователю; 3.3.3.​​ Передача​​ предусмотрена​​ российским​​ или​​ иным​​ применимым​​ законодательством в​​ рамках​​ установленной​​ законодательством​​ процедуры; 3.3.4.​​ В​​ целях​​ обеспечения​​ возможности​​ защиты​​ прав​​ и​​ законных​​ интересов​​ сайта​​ vizasamara.ru.​​ или​​ третьих​​ лиц​​ в​​ случаях,​​ когда​​ пользователь​​ нарушает Пользовательское​​ соглашение​​ сайта​​ vizasamara.ru. 3.4.​​ При​​ обработке​​ персональных​​ данных​​ пользователей​​ сайт​​ vizasamara.ru руководствуется​​ Федеральным​​ законом​​ РФ​​ «О​​ персональных​​ данных».
    </p>
    <h5>
      4.​​ Изменение​​ пользователем​​ персональной​​ информации
    </h5>
    <p>
      4.1.​​ Пользователь​​ может​​ в​​ любой​​ момент​​ изменить​​ (обновить,​​ дополнить) предоставленную​​ им персональную​​ информацию​​ или​​ её​​ часть,​​ а​​ также​​ параметры​​ её​​ конфиденциальности, оставив​​ заявление​​ в​​ адрес​​ администрации​​ сайта​​ следующим​​ способом:
      Телефон:​​ 8 (927)207-23-63
      Email:​​ vizasamara@mail.ru
      4.2.​​ Пользователь​​ может​​ в​​ любой​​ момент,​​ отозвать​​ свое​​ согласие​​ на​​ обработку персональных​​ данных,​​ оставив​​ заявление​​ в​​ адрес​​ администрации​​ сайта​​ следующим способом:
      Телефон:​​ ​​ 8 (927)207-23-63
      Email:​​ vizasamara@mail.ru
    </p>
    <h5>
      5.​​ Меры,​​ применяемые​​ для​​ защиты​​ персональной​​ информации пользователей
    </h5>
    <p>
      Сайт​​ принимает​​ необходимые​​ и​​ достаточные​​ организационные​​ и​​ технические​​ меры для​​ защиты​​ персональной​​ информации​​ пользователя​​ от​​ неправомерного​​ или случайного​​ доступа,​​ уничтожения,​​ изменения,​​ блокирования,​​ копирования, распространения,​​ а​​ также​​ от​​ иных​​ неправомерных​​ действий​​ с​​ ней​​ третьих​​ лиц.
    </p>
    <h5>
      6.​​ Изменение​​ Политики​​ конфиденциальности.​​ Применимое законодательство
    </h5>
    <p>
      6.1.​​ Сайт​​ имеет​​ право​​ вносить​​ изменения​​ в​​ настоящую​​ Политику конфиденциальности.​​ При​​ внесении​​ изменений​​ в​​ актуальной​​ редакции​​ указывается дата​​ последнего​​ обновления.​​ Новая​​ редакция​​ Политики​​ вступает​​ в​​ силу​​ с​​ момента​​ ее размещения,​​ если​​ иное​​ не​​ предусмотрено​​ новой​​ редакцией​​ Политики. 6.2.​​ К​​ настоящей​​ Политике​​ и​​ отношениям​​ между​​ пользователем​​ и​​ Сайтом, возникающим​​ в​​ связи​​ с применением​​ Политики​​ конфиденциальности,​​ подлежит​​ применению​​ право Российской​​ Федерации.
    </p>
    <h5>
      7.​​ Обратная​​ связь.​​ Вопросы​​ и​​ предложения
    </h5>
    <p>
      7.1.​​ Все​​ предложения​​ или​​ вопросы​​ по​​ поводу​​ настоящей​​ Политики​​ следует направлять​​ следующим​​ способом:
      Телефон:​​ ​​ 8 (927)207-23-63
      Email:​​ vizasamara@mail.ru
    </p>
  </div>
</div>
<div id="thanks" class="modal">
  <div class="application__phone">
      <div class="application__phone_logo">
          <img src="img/logo.svg" alt="">
      </div>
      <h4>
        Спасибо <br>
        <span>
          за заявку
        </span>
      </h4>
      <p>
        Скоро мы свяжемся c вами
      </p>
      <div class="main-button light thanks_close">
        Закрыть
      </div>
</div>
</div>
