<section class="prices" id="prices">
  <div class="parallax parallax-one" data-paroller-factor="0.5" data-paroller-type="foreground" data-paroller-direction="vertical">
    <img src="img/parallax.png" alt="parallax">
  </div>
  <div class="parallax parallax-two" data-paroller-factor="-0.3" data-paroller-type="foreground" data-paroller-direction="vertical">
    <img src="img/parallax.png" alt="parallax">
  </div>
  <div class="container">
    <div class="prices__wrapper">
      <div class="prices__content">
        <div class="title title__left title__car">
          <h2 class="car-number">
            Автомобили и цены
          </h2>
        </div>
        <div class="prices__text">
          <p>
            Работа в такси — один из самых  востребованных
            способов заработка. Наши специалисты подберут
            вам автомобиль, который будет готов к работе
            сразу же после подписания договора.
          </p>
        </div>
        <div class="prices__block">
          <div class="prices__block_img">
            <img src="img/car1.jpg" alt="">
            <h3>
              Эконом
            </h3>
          </div>
          <div class="prices__block_info">
            <div class="prices__block_car">
              <h4>
                Kia Rio
              </h4>
              <p>
                <span>1 450</span> руб/сутки
              </p>
            </div>
            <button class="button button__red modal_open">
              заказать
            </button>
          </div>
        </div>
     </div>
      <div class="prices__content">
        <div class="prices__block">
          <div class="prices__block_img">
            <img src="img/car2.jpg" alt="">
            <h3>
              Комфорт
            </h3>
          </div>
          <div class="prices__block_info">
            <div class="prices__block_car">
              <h4>
                Skoda Octavia
              </h4>
              <p>
                <span>1 950</span> руб/сутки
              </p>
            </div>
            <button class="button button__red modal_open">
              заказать
            </button>
          </div>
        </div>
        <div class="prices__block">
          <div class="prices__block_img">
            <img src="img/car3.jpg" alt="">
            <h3>
              Комфорт +
            </h3>
          </div>
          <div class="prices__block_info">
            <div class="prices__block_car">
              <h4>
                Kia Optima
              </h4>
              <p>
                <span>2 650</span> руб/сутки
              </p>
            </div>
            <button class="button button__red modal_open">
              заказать
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
