<section class="reviews" id="reviews">
  <div class="parallax parallax-three"data-paroller-factor="-0.5" data-paroller-type="foreground" data-paroller-direction="vertical">
    <img src="img/parallax.png" alt="parallax">
  </div>
  <div class="container">
    <div class="title title__reviews">
      <h2>
        Отзывы
      </h2>
    </div>
    <div class="row">
      <div class="col col-lg-3">
        <div class="reviews__info">

          <p>
            Читайте отзывы наших клиентов и
            присоединяйтесь к команде <a href="#">Альфа-Лидер</a>
          </p>
          <button class="button button__red button__small-full  modal_open">
            присоединиться
          </button>
        </div>
      </div>
      <div class="col col-lg-9">
        <div class="reviews__slider">
          <div class="swiper-container">
            <div class="swiper-wrapper">
              <div class="swiper-slide">
                <div class="reviews__block">
                  <div class="reviews__block_img">
                    <img src="img/reviews-1.png" alt="">
                    <p>
                      Водитель
                    </p>
                    <strong>
                      Hyundai Solaris
                    </strong>
                  </div>
                  <div class="reviews__block_info">
                    <h3>
                      Константин
                    </h3>
                    <span>
                     Москва, 56 лет
                   </span>
                    <div class="reviews__block_text">
                      <p>
                        «Любая аренда – это невыгодно» – так я думал всегда. Ведь использовать свое имущество всегда выгоднее, чем платить за аренду кому-то еще. Но после обращения в компанию «Авто-Миг» я понял, что заблуждался.
                      </p>
                      <p>
                        Решил взять в аренду авто, так как только устраивался в таксопарк, где одним из требований при приеме на работу являлось наличие личного автомобиля. Выбрал я Hyundai Solaris.
                      </p>
                      <p>
                        Заплатил значительно меньше, чем предполагал. Не знаю, может, машина фартовая оказалась, может, резюме мое заинтересовало, но только в фирму меня взяли в тот же день. Зарплата у меня сейчас хорошая, но покупать собственный автомобиль я не спешу.
                      </p>
                      <p>
                        Заплатил значительно меньше, чем предполагал. Не знаю, может, машина фартовая оказалась, может, резюме мое заинтересовало, но только в фирму меня взяли в тот же день. Зарплата у меня сейчас хорошая, но покупать собственный автомобиль я не спешу.
                      </p>
                      <p>
                        Заплатил значительно меньше, чем предполагал. Не знаю, может, машина фартовая оказалась, может, резюме мое заинтересовало, но только в фирму меня взяли в тот же день. Зарплата у меня сейчас хорошая, но покупать собственный автомобиль я не спешу.
                      </p>
                      <p>
                        Заплатил значительно меньше, чем предполагал. Не знаю, может, машина фартовая оказалась, может, резюме мое заинтересовало, но только в фирму меня взяли в тот же день. Зарплата у меня сейчас хорошая, но покупать собственный автомобиль я не спешу.
                      </p>

                    </div>
                    <div class="reviews__more-info">
                      Читать весь отзыв
                    </div>
                  </div>
                </div>
              </div>
              <div class="swiper-slide">
                <div class="reviews__block">
                  <div class="reviews__block_img">
                    <img src="img/reviews-1.png" alt="">
                    <p>
                      Водитель
                    </p>
                    <strong>
                      Hyundai Solaris
                    </strong>
                  </div>
                  <div class="reviews__block_info">
                    <h3>
                      Константин
                    </h3>
                    <span>
                      Москва, 56 лет
                    </span>
                    <div class="reviews__block_text">
                      <p>
                        «Любая аренда – это невыгодно» – так я думал всегда. Ведь использовать свое имущество всегда выгоднее, чем платить за аренду кому-то еще. Но после обращения в компанию «Авто-Миг» я понял, что заблуждался.
                      </p>
                      <p>
                        Решил взять в аренду авто, так как только устраивался в таксопарк, где одним из требований при приеме на работу являлось наличие личного автомобиля. Выбрал я Hyundai Solaris.
                      </p>
                      <p>
                        Заплатил значительно меньше, чем предполагал. Не знаю, может, машина фартовая оказалась, может, резюме мое заинтересовало, но только в фирму меня взяли в тот же день. Зарплата у меня сейчас хорошая, но покупать собственный автомобиль я не спешу.
                      </p>
                    </div>
                    <div class="reviews__more-info">
                      Читать весь отзыв
                    </div>
                  </div>
                </div>
              </div>
              <div class="swiper-slide">
                <div class="reviews__block">
                  <div class="reviews__block_img">
                    <img src="img/reviews-1.png" alt="">
                    <p>
                      Водитель
                    </p>
                    <strong>
                      Hyundai Solaris
                    </strong>
                  </div>
                  <div class="reviews__block_info">
                    <h3>
                      Константин
                    </h3>
                    <span>
                      Москва, 56 лет
                    </span>
                    <div class="reviews__block_text">
                      <p>
                        «Любая аренда – это невыгодно» – так я думал всегда. Ведь использовать свое имущество всегда выгоднее, чем платить за аренду кому-то еще. Но после обращения в компанию «Авто-Миг» я понял, что заблуждался.
                      </p>
                      <p>
                        Решил взять в аренду авто, так как только устраивался в таксопарк, где одним из требований при приеме на работу являлось наличие личного автомобиля. Выбрал я Hyundai Solaris.
                      </p>
                      <p>
                        Заплатил значительно меньше, чем предполагал. Не знаю, может, машина фартовая оказалась, может, резюме мое заинтересовало, но только в фирму меня взяли в тот же день. Зарплата у меня сейчас хорошая, но покупать собственный автомобиль я не спешу.
                      </p>
                    </div>
                    <div class="reviews__more-info">
                      Читать весь отзыв
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- Add Pagination -->
            <div class="swiper-pagination"></div>
            <!-- Add Arrows -->
            <div class="swiper-button-next">Далее</div>
            <div class="swiper-button-prev">Назад</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
