<section class="first-screen second-screen">
  <div class="rotate-block">
    <img src="img/rotate-2.png" alt="">
  </div>
  <div class="container">
    <div class="first-screen__wrapper second-screen__wrapper">
      <div class="main-title">
        <h2>
          Хотите <br> <span> Сменить партнера? </span>
        </h2>
        <p>
          Работать с нами на выгодных условиях!
        </p>
        <p>
          Оставьте заявку и мы свяжемся с Вами в течение 15 минут.
        </p>
      </div>
      <a href="#" class="main-button light modal_open">
        Перевестись
      </a>
      <div class="first-screen__slider">
        <div class="swiper-container">
          <div class="swiper-wrapper">
            <div class="swiper-slide">
              <p>
                Подключение
                к Яндекс Такси
                и Gett
              </p>
            </div>
            <div class="swiper-slide">
              <p>
                Подключение
                к Яндекс Такси
                и Gett
              </p>
            </div>
            <div class="swiper-slide">
              <p>
                Подключение
                к Яндекс Такси
                и Gett
              </p>
            </div>
          </div>
          <!-- Add Pagination -->
          <div class="swiper-pagination"></div>
        </div>
      </div>
    </div>
  </div>
</section>
