.advantages
	position: relative
	padding-top: 50px
	padding-bottom: 70px
	+r(992)
		padding-top: 40px
		padding-bottom: 40px
	&__wrapper
		display: flex
		flex-wrap: wrap
		+r(1200)
			justify-content: space-between
	&__block
		width: 22.82%
		margin-bottom: 30px
		box-shadow: 0 5px 25px 0 rgba(0, 0, 0, 0.1)
		background: $white
		padding: 40px
		min-height: 175px
		display: flex
		justify-content: space-around
		flex-direction: column
		transition: all .3s ease
		position: relative
		height: 100%
		+r(1200)
			width: 48%
			height: auto
		+r(768)
			width: 100%
			padding: 20px
			min-height: 150px
		&::before
			content: '1'
			font-size: 80px
			line-height: 1em
			color: $foam
			position: absolute
			right: 20px
			top: 15px
		&:hover
			box-shadow: 0 5px 25px 0 rgba(0, 0, 0, 0.22)
		&:nth-child(3n+2)
			margin: 0 33px
			+r(1200)
				margin: 0 0 30px
		&:nth-child(1)
			background-image: linear-gradient( -120deg, rgb(59,112,183) 0%, rgb(36,155,214) 100%);
			h3, p
				color: $white
			&::before
				color: #2991ce
				content: '#1'
		&:nth-child(2)
			&::before
				content: '#2'
		&:nth-child(3)
			&::before
				content: '#3'
		&:nth-child(4)
			&::before
				content: '#4'
		&:nth-child(5)
			background-image: linear-gradient( -120deg, rgb(173,35,57) 0%, rgb(234,38,67) 100%)
			h3, p
				color: $white
			&::before
				content: '#5'
				color: $amaranth-two
		&:nth-child(6)
			&::before
				content: '#6'
		h3
			font-weight: 700
			font-size: 21px
			color: $mine-shaft
			line-height: 1em
			margin-bottom: 10px
			position: relative
			+r(576)
				font-size: 18px
		p
			color: $emperor
			line-height: 1.5em
			position: relative
		&_long
			width: 45.89%
			+r(1200)
				width: 48%

