.application
	position: relative
	padding-top: 110px
	padding-bottom: 80px
	background: url("../img/car-bg.png") top center no-repeat
	+r(992)
		padding: 40px 0
	&__phone
		position: absolute
		background: url("../img/phone.png") no-repeat center
		background-size: cover
		z-index: 10
		right: 0
		width: 325px
		height: 615px
		display: flex
		flex-direction: column
		align-items: center
		padding: 60px 55px 70px
		text-align: center
		+r(992)
			right: -70px
		+r(768)
			right: 50%
			transform: translateX(50%)
		h4
			font-size: 34px
			font-weight: 700
			line-height: 1em
			padding-bottom: 7px
			margin-bottom: 13px
			position: relative
			color: $blue-charcoal
			&::before
				content: ''
				position: absolute
				left: 50%
				bottom: 0
				background: $maroon-flush
				height: 1px
				width: 63px
				transform: translateX(-50%)
			span
				font-size: 32px
		p
			font-size: 18px
			color: $bright-gray
			margin-bottom: 10px
		&_wrapper
			position: relative
			display: block
			width: 100%
			min-height: 615px
			height: 100%
		&_logo
			img
				width: 170px
				height: auto
	&__abs
		position: absolute
		bottom: -50px
		left: 275px
		+r(1200)
			left: 200px
		+r(992)
			left: 80px
	&__text
		max-width: 500px
		text-align: right
		margin-left: auto
		margin-right: 70px
		margin-top: 15px
		position: relative
		+r(992)
			margin-right: 0
			margin-left: 40px
		+r(768)
			margin-bottom: 30px
		+r(576)
			margin-left: 0
			text-align: left
		p
			font-size: 18px
			color: $emperor
		a
			color: $curious-blue
			font-size: 18px
			text-decoration: underline
			&:hover
				display: block

	.title__right
		h2
			line-height: 1.5em
		padding-right: 0
.form
	position: relative
	width: 100%
	&__input
		margin-bottom: 15px
		position: relative
		&:nth-of-type(2)
			margin-bottom: 25px
	.main-button
		width: 100%
		text-align: center
		padding: 15px 0
		font-weight: 600
		font-size: 12px
		letter-spacing: 0.05em
		margin-bottom: 15px
	label
		&.error
			position: absolute
			left: 0
			top: -20px
			background: red
			border-radius: 2px
			width: 100%
			max-width: 300px
			color: $white
			padding: 0 5px
			z-index: 1
			font-size: 12px
			&::after
				content: ''
				width: 10px
				height: 10px
				position: absolute
				bottom: -5px
				left: 15px
				background: red
				transform: rotate(45deg)
		&#agree-error
			font-size: 12px
			top: auto
			bottom: -35px
			line-height: 1.1em
			padding: 3px 5px
			&::after
				bottom: auto
				top: -5px
	input.checkbox
		position: absolute
		opacity: 0
	label.form__checkbox_label
		margin-left: 10px
		padding: 0 30px 0 25px
		font-size: 12px
		font-weight: 400
		color: $emperor
		line-height: 1.2em
		text-align: left
		position: relative
		cursor: pointer
		display: block
		a
			text-decoration: underline
			color: $emperor
			&:hover
				text-decoration: none
		&::before
			content: ''
			position: absolute
			display: inline-block
			width: 15px
			height: 15px
			background: $white
			left: 0
			top: 0
			border: 1px solid $emperor
		&::after
			content: ''
			width: 7px
			height: 4px
			border-bottom: 1px solid $emperor
			border-left: 1px solid $emperor
			transform: rotate(-45deg)
			position: absolute
			left: 4px
			top: 4px
			opacity: 0
			transition: all .3s ease
	input[type="checkbox"]:checked ~ label.form__checkbox_label::after
		transition: all .3s ease
		opacity: 1
