.faq
	position: relative
	padding-top: 100px
	padding-bottom: 50px
	+r(992)
		padding: 40px 0
	&__wrapper
		display: flex
	&__content
		width: 48%
		padding-top: 50px
		+r(768)
			width: 100%
			padding-top: 0
	&__info
		p
			max-width: 370px
			margin-bottom: 90px
			+r(768)
				max-width: none
				margin-bottom: 30px
	&__tabs
		&_button
			font-weight: 600
			font-size: 10px
			color: #000
			text-transform: uppercase
			background: transparent
			text-align: center
			border: 1px solid $curious-blue
			padding: 12px
			transition: all .3s ease
			&:hover
				color: $curious-blue
		&_elements
			width: 52%
			max-height: 600px
			box-shadow: 0 5px 35px 0 rgba(0, 0, 0, 0.1)
			padding: 25px 35px
			+r(768)
				display: none
		&_nav
			display: flex
			align-items: center
			+r(576)
				justify-content: center
		&_number
			display: inline-block
			width: 70px
			text-align: center
			font-size: 12px
			line-height: 1em
		&_current
			font-size: 36px
			line-height: 1em
		&_tab
			font-size: 16px
			font-weight: 300
			color: $cod-gray
			padding: 20px 40px 20px 15px
			transition: all .3s ease
			position: relative
			cursor: pointer
			&::before, &::after
				content: ''
				position: absolute
				background: $curious-blue-dark
			&::before
				width: 2px
				height: 11px
				right: 15px
				top: 50%
				transform: translateY(-50%)
				transition: all .3s ease
			&::after
				width: 12px
				height: 2px
				top: 50%
				transform: translateY(-50%)
				right: 10px
			&.active
				color: $shakespeare
				background: $alabaster
				&:before
					opacity: 0
		&_title
			z-index: 1
			position: relative
			&::before
				content: ''
				width: 73px
				height: 13px
				position: absolute
				left: -12px
				bottom: -3px
				background: $curious-blue
		&_text
			max-height: 80px
			padding-right: 20px
			+r(576)
				max-height: 190px
		&_item
			background: $black url("../img/logo-white.svg") right top no-repeat
			width: 100%
			color: $white
			padding: 35px 40px
			position: relative
			margin-bottom: 60px
			+r(768)
				margin-bottom: 30px
			+r(576)
				padding: 35px 25px 25px
			h3
				font-size: 18px
				font-weight: 700
				margin-bottom: 25px
				z-index: 10
				position: relative
			&.active
				display: block

	.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar
		background: $curious-blue!important
	.mCSB_scrollTools .mCSB_draggerRail
		background: $link-water

