.first-screen
	position: relative
	margin-top: 155px
	padding: 220px 0 250px
	+r(992)
		padding: 150px 0
	+r(768)
		padding: 120px 0
	+r(576)
		padding: 100px 0 80px
	+r(500)
		padding-bottom: 45px
	+r(420)
		padding-bottom: 40px
	+r(1200)
		margin-top: 80px
	&__wrapper
		z-index: 1
		color: $white
	.container
		position: relative
	.main-title
		position: relative
		margin-bottom: 60px
		+r(576)
			margin-bottom: 40px
		h1
			font-weight: 900
			font-size: 48px
			text-transform: uppercase
			margin-bottom: 20px
			line-height: 1em
			+r(992)
				line-height: 1.3em
				font-size: 46px
			+r(768)
				font-size: 38px
				margin-bottom: 15px
			+r(576)
				font-size: 24px
				margin-bottom: 10px
			span
				background: $maroon-flush
				padding: 5px 10px
		h2
			font-weight: 900
			font-size: 13px
			text-transform: uppercase
			line-height: 1em
			margin-bottom: 25px
			+r(768)
				font-size: 12px
				margin-bottom: 15px
			span
				font-size: 48px
				line-height: 1em
				+r(768)
					font-size: 36px
				+r(576)
					font-size: 30px
		p
			font-weight: 500
			font-size: 18px
			+r(768)
				font-size: 16px
			+r(576)
				font-size: 14px

	&__slider
		position: absolute
		background: url("../img/info-elipse.png") no-repeat
		width: 360px
		height: 360px
		right: 0
		bottom: -220px
		+r(1200)
			right: 0
			bottom: -250px
		+r(992)
			display: none
		.swiper-container
			width: 100%
			height: 360px
		.swiper-slide
			position: relative
			padding-top: 50%
			text-align: center
			transform: translateY(-10%)
			height: auto
			font-weight: 700
			font-size: 32px
			line-height: 1em
			p
				max-width: 290px
				margin: 0 auto
		.swiper-pagination
			bottom: 40px
		.swiper-pagination-bullet
			border-radius: 0
			background: $silver
			opacity: 1
			width: 7px
			height: 7px
		.swiper-pagination-bullet-active
			background: $curious-blue
			opacity: 1
.rotate-block
	position: absolute
	transform: skew(5deg) translateX(-50%)
	width: 100%
	height: 750px
	left: 50%
	right: 0
	top: -60px
	z-index: -1

	img
		left: 50%
		transform: skew(-5deg)  translateX(-50%)
		position: absolute
		+r(992)
			height: 800px
		+r(768)
			height: 700px
		+r(576)
			height: 500px
		+r(500)
			height: 550px

.abs-bg
	position: absolute
	width: 100%
	height: 500px
	z-index: -2
	top: 0
	background: url("../img/first-screen-bg.jpg") top left repeat-x
	+r(992)
		height: 200px
.main-button
	color: $white
	font-weight: 500
	font-size: 16px
	text-transform: uppercase
	letter-spacing: 0.05em
	padding: 20px 70px
	border-radius: 4px
	background-image: linear-gradient( to top, rgb(162,32,55) 0%, rgb(234,38,67) 100%)
	box-shadow: 2.5px 4.33px 40px 0 rgba(208, 36, 63, 0.15),inset 0px -6px 0px 0px rgba(128, 20, 36, .8)
	z-index: 1
	position: relative
	transition: .3s ease-out
	display: inline-block
	overflow: hidden
	text-align: center
	+r(340)
		width: 100%
		display: block
	&:hover
		box-shadow: 2.5px 4.33px 40px 0 rgba(208, 36, 63, 0.3),inset 0px -4px 0px 0px rgba(128, 20, 36, .8)
		background-image: linear-gradient( to top, rgb(162,32,55) 0%, rgb(234,38,67) 80%)
		transform: translateY(1px)
	&:active
		transform: translateY(2px)
		box-shadow: 2.5px 4.33px 40px 0 rgba(208, 36, 63, 0.3),inset 0px -6px 0px 0px rgba(128, 20, 36, .8)

	&.light
		&:hover
			cursor: pointer
			transition: .1s
			color: $white
			z-index: 8
			&:before
				transform: skewX(-45deg) translateX(420px)
				transition: all .5s ease-in-out
		&:before
			content: ""
			background: linear-gradient( to right, rgba(255,255,255,0) 0% ,rgba(255,255,255,.3) 100%)
			height: 100%
			width: 5em
			display: block
			position: absolute
			top: 0
			left: -8em
			transform: skewX(-45deg) translateX(0)
			transition: none
