.footer
	position: relative
	background: url("../img/footer.png") left top no-repeat
	+r(992)
		background-position: -160px top
	&__wrapper
		min-height: 705px
		display: flex
		justify-content: flex-end
		flex-direction: column
		position: relative
		+r(576)
			min-height: 550px
	&__address
		position: absolute
		background: $white
		top: 220px
		right: 0
		padding: 70px 65px 50px 50px
		box-shadow: -5px 0px 20px 0px rgba(0, 0, 0, 0.1)
		+r(768)
			position: relative
			top: auto
			right: auto
			margin-bottom: 30px
		+r(576)
			padding: 40px 20px
		&::before
			position: absolute
			content: ''
			width: 20px
			height: 120px
			background: $curious-blue
			right: -20px
			top: 30px
		h2
			font-weight: 700
			font-size: 32px
			margin-bottom: 50px
			+r(768)
				font-size: 28px
			+r(576)
				font-size: 24px
				margin-bottom: 20px
		&_info
			p
				margin-bottom: 20px
				font-size: 16px
				&:last-child
					margin-bottom: 0
				+r(576)
					font-size: 14px
					margin-bottom: 10px
				a
					color: $curious-blue
					text-decoration: underline
					&:hover
						text-decoration: none
				strong
					display: inline-block
					margin-right: 10px
					+r(576)
						display: block
	.copyright
		position: relative
		padding: 30px 0
		text-align: right
		color: $emperor
		font-size: 12px
		a
			text-decoration: underline
			color: $emperor
			&:hover
				text-decoration: none
			+r(576)
				display: block
		&::before
			position: absolute
			content: ''
			width: 7px
			height: 7px
			background: $curious-blue
			top: 0
			transform: translateX(-35px)
		&::after
			position: absolute
			content: ''
			width: 100vw
			height: 1px
			top: 3px
			background: $curious-blue
			transform: translateX(-500px)

