.header
	position: fixed
	left: 0
	top: 0
	right: 0
	transition: all .3s ease
	z-index: 1000
	.container
		position: relative
		overflow: hidden
	&__wrapper
		display: flex
		position: relative

	.mCSB_dragger_bar
		background-color: red
	&.scroll
		background: rgba(0, 0, 0, .8)
		.hiden-description
			display: block
			.description
				max-width: 170px
				padding: 17px 0
				color: $white
				margin-right: 120px
				+r(1200)
					margin-right: 80px
				+r(576)
					max-width: 140px
					font-size: 12px
		.hiden-callback
			display: block
			+r(768)
				display: none
			a
				color: $white
			button
				color: $white
				border-color: $white
				+r(1200)
					display: none
			.callback
				+r(992)
					padding-top: 15px
			.callback__tel
				margin-right: 40px
				+r(992)
					display: flex
					flex-direction: column
					width: auto
					a
						padding: 3px 0 3px 30px
		.header__wrapper
			height: 80px
			.logo
				width: 80px
				margin-right: 10px
				img
					width: 80px
			+r(1200)

		.nav
			position: fixed!important
			display: flex
			flex-direction: column
			align-items: center
			height: calc( 100vh - 80px )
			background: rgba(0, 0, 0, .8)
			color: $white
			transform: translateX(100vw)
			//transition: all .3s ease
			padding: 20px 0
			z-index: 990
			&.active
				transform: translateX(0)
			a
				color: $white
			margin-top: 80px
			overflow-y: auto
			max-width: 320px
			right: 0
			left: auto
			position: fixed
			&-button
				display: block
			.menu
				display: block
				border: none
				a
					text-align: center
					&::before
						background: $white
			.callback
				flex-direction: column
				padding: 10px 0
				height: 100%
				min-height: 220px
				justify-content: flex-start
				&__tel
					flex-direction: column
					justify-content: center
					align-items: center
					width: auto
				.description
					margin: 0 0 10px
					text-align: center
				.tel
					margin: 0 0 10px
					transition: none
					&::before
						content: url('../img/telephone-white.svg')
				.whatsapp
					&::before
						content: url('../img/whatsapp.svg')
			.button
				color: $white
				border-color: $white
				&::before
					background: $white
				&:hover
					color: $curious-blue
	+r(1200)
		background: rgba(0, 0, 0, .8)
		.hiden-description
			display: block
			.description
				max-width: 170px
				padding: 17px 0
				color: $white
				margin-right: 120px

		.hiden-callback
			display: block

			a
				color: $white
			button
				color: $white
				border-color: $white
				+r(1200)
					display: none

			.callback__tel
				margin-right: 40px

		.header__wrapper
			height: 80px
			.logo
				width: 80px
				margin-right: 10px
				img
					width: 80px
		.nav

			display: flex
			align-items: center
			flex-direction: column
			height: calc( 100vh - 80px )
			background: rgba(0, 0, 0, .8)
			color: $white
			transform: translateX(100vw)
			transition: all .3s ease
			padding: 20px 0
			z-index: 990

			&.active
				transform: translateX(0)
			a
				color: $white
			margin-top: 80px
			overflow-y: auto
			max-width: 320px
			right: 0
			left: auto
			position: fixed
			&-button
				display: block
			.menu
				display: block
				border: none
				a
					text-align: center
					&::before
						background: $white
			.callback
				flex-direction: column
				padding: 10px 0
				height: 100%
				min-height: 220px
				justify-content: flex-start
				&__tel
					flex-direction: column
					justify-content: center
					align-items: center
					width: auto
				.description
					margin: 0 0 10px
					text-align: center
				.tel
					margin: 0 0 10px
					&::before
						content: url('../img/telephone-white.svg')
				.whatsapp
					&::before
						content: url('../img/whatsapp.svg')
			.button
				color: $white
				border-color: $white
				&::before
					background: $white
				&:hover
					color: $curious-blue
	+r(576)
		.hiden-description
			.description
				max-width: 140px
				font-size: 12px
	.hiden-description
		display: none
		+r(1200)
			.description
				margin-right: 80px
		+r(576)
			.description
				max-width: 140px
				font-size: 12px
	.hiden-callback
		display: none
		+r(768)
			display: none
		.callback
			+r(992)
				padding-top: 15px
		.callback__tel
			+r(992)
				display: flex
				flex-direction: column
				width: auto
				a
					padding: 3px 0 3px 30px
.nav
	display: block
	width: 100%
	padding-top: 5px
	max-width: 960px
	&-button
		width: 40px
		height: 40px
		position: absolute
		right: 15px
		z-index: 1100
		top: 50%
		transform: translateY(-50%)
		display: none
		+r(1200)
			display: block
		.bar
			position: relative
			width: 30px
			height: 3px
			background: $white
			top: 20px
			margin: 0 auto
			transition: all .3s ease
			&::before, &::after
				content: ''
				width: 30px
				height: 3px
				position: absolute
				background: $white
				transition: all .3s ease
			&::before
				transform: translateY(-8px)
			&::after
				transform: translateY(8px)
		&.active
			.bar
				background: transparent
				&::before
					transform: rotate(135deg)
					background: $white
				&::after
					transform: rotate(-135deg)
					background: $white
.menu
	display: flex
	display: -webkit-box
	text-transform: uppercase
	justify-content: space-between
	font-weight: 700
	font-size: 11px
	border-bottom: 1px solid $link-water
	//transition: all .4s ease
	a
		color: $bunker
		display: block
		padding: 15px 10px
		position: relative
		line-height: 1em
		&::before
			content: ''
			background: $curious-blue
			width: 0
			height: 3px
			position: absolute
			bottom: -1px
			right: 0
			transition: all .5s ease
		&:hover, &:focus
			&::before
				width: 100%
				right: 0
				left: 0
.callback
	display: flex
	align-items: center
	padding-top: 20px
	justify-content: space-between
	&__tel
		display: flex
		width: 470px
		justify-content: space-between
		align-items: center
	.description
		max-width: 170px
		font-weight: 300
	a
		display: block
		position: relative
		padding: 10px 0
		//transition: all .5s ease
		&.tel
			padding-left: 30px
			color: $bunker
			font-size: 18px
			font-weight: 700
			position: relative
			&::before
				content: url('../img/telephone.svg')
				width: 20px
				height: 20px
				position: absolute
				left: 0
			&::after
				content: ''
				width: 0
				height: 3px
				background: $curious-blue
				position: absolute
				right: 0
				bottom: 0
				transition: all .5s ease
			&:hover
				&::after
					width: 100%
					left: 0
					right: 0
		&.whatsapp
			&::before
				content: url('../img/whatsapp.svg')
.logo
	width: 170px
	position: relative
	display: block
	margin-right: 30px
	img
		width: 160px
		margin: 10px 15px
		height: auto
		transition: all .4s ease

