.modal
	position: relative
	width: 100%
	margin-top: 5%
	.application__phone
		position: relative
		left: 50%
		transform: translateX(-50%)
		+r(425)
			background-image: none
			background-color: $white
			width: 100%
			height: 100%
	&#privacy-policy
		background: $white
		position: relative
		padding: 40px 10px 40px 40px
		border-radius: 20px
		max-height: 500px
		max-width: 500px
		.privacy-policy_text
			max-height: 400px
			max-width: 450px
			overflow: auto
		.privacy-policy_close
			position: absolute
			top: 10px
			right: 15px
			width: 20px
			height: 20px
			.bar
				position: relative
				background: transparent
				top: 50%
				width: 20px
				height: 2px
				transition: all .3s ease
				&::before, &::after
					position: absolute
					content: ''
					width: 20px
					height: 2px
					background: #000
					top: 0
					left: 0
					transition: all .3s ease
				&::before
					transform: rotate(45deg)
				&::after
					transform: rotate(-45deg)
			&:hover
				.bar
					transform: rotate(180deg)
					&::before, &::after
						background: red
	&_close
		position: fixed
		top: 50px
		right: 40px
		width: 20px
		height: 20px
		.bar
			position: relative
			background: #000
			top: 50%
			width: 20px
			height: 2px
			transition: all .3s ease
			&::before, &::after
				position: absolute
				content: ''
				width: 20px
				height: 2px
				background: #000
				left: 0
				transition: all .3s ease
			&::before
				top: -5px
			&::after
				top: 5px
		&:hover
			.bar
				background: transparent
				&::before
					top: 0
					transform: rotate(45deg)
					background: red
				&::after
					top: 0
					transform: rotate(-45deg)
					background: red
#thanks
	.main-button
		margin-top: 100px
		width: 100%
		text-align: center
		padding: 15px 0
		font-weight: 600
		font-size: 12px
		letter-spacing: .05em
		margin-bottom: 15px


