.prices
	position: relative
	padding: 115px 0 75px
	+r(992)
		padding: 80px 0 60px
	+r(768)
		padding: 60px 0 40px
	&__wrapper
		display: flex
		+r(1200)
			flex-direction: column
	&__content
		&:nth-of-type(1)
			width: 500px
			+r(1200)
				width: 100%
			.prices__block
				&_img
					img
						width: 500px
						height: 300px
						object-fit: cover
						+r(1200)
							width: 100%
							height: 300px
						+r(576)
							height: 200px
				&_info
					padding-right: 30px
					+r(1200)
						padding-right: 20px
					+r(576)
						padding: 0
		&:nth-of-type(2)
			padding-left: 40px
			width: 540px
			+r(1200)
				width: 100%
				padding-left: 0
			.prices__block
				&:nth-of-type(odd)
					margin-bottom: 70px
					+r(1200)
						margin-bottom: 30px
					.prices__block_img
						img
							width: 500px
							height: 300px
							object-fit: cover
							+r(1200)
								width: 100%
							+r(576)
								height: 200px
				&:nth-of-type(even)
					display: flex
					+r(1200)
						display: block
					.prices__block_img
						img
							width: 300px
							height: 500px
							object-fit: cover
							+r(1200)
								width: 100%
								height: 300px
							+r(576)
								height: 200px
						h3
							left: auto
							right: 0
							+r(1200)
								right: auto
								left: 0
					.prices__block_info
						flex-direction: column
						margin-left: 40px
						justify-content: flex-end
						+r(1200)
							flex-direction: row
							justify-content: space-between
							margin-left: 30px
						+r(576)
							margin-left: 0
						&::before
							height: 45px
							top: auto
							bottom: 65px
							+r(1200)
								height: 100%
								bottom: auto
								top: 0
					.prices__block_car
						margin-bottom: 25px
						+r(1200)
							margin-bottom: 0
	&__text
		margin-bottom: 100px
		+r(1200)
			margin-bottom: 60px
		+r(992)
			margin-bottom: 40px
		+r(768)
			margin-bottom: 30px
		p
			font-weight: 300
			font-size: 14px
			color: $cod-gray
	&__block
		+r(1200)
			margin-bottom: 30px
		&_img
			position: relative
			display: inline-block
			+r(1200)
				display: block
			h3
				display: inline
				position: absolute
				text-transform: uppercase
				left: 0
				bottom: 30px
				color: $white
				line-height: 1em
				padding: 12px 40px
				background: $curious-blue
		&_info
			display: flex
			justify-content: space-between
			padding-left: 25px
			padding-right: 20px
			margin: 20px 0 20px 30px
			position: relative
			align-items: center
			+r(576)
				margin: 20px 0
				padding: 0

			&::before
				content: ''
				width: 1px
				height: 100%
				background: $curious-blue
				position: absolute
				left: 0
				top: 0
				+r(576)
					content: none
			h4
				font-weight: 300
				font-size: 21px
				color: $black
				+r(576)
					//font-size: 18px
			p
				font-weight: 700
				font-size: 11px
				text-transform: uppercase
				color: $black
				line-height: 1em
				span
					font-weight: 700
					font-size: 21px
					line-height: 1em
					color: $amaranth
