.reviews
	position: relative
	padding-top: 70px
	padding-bottom: 80px
	+r(992)
		padding: 40px 0
	.title
		margin-bottom: 0
	&__info
		margin-top: 20px
		+r(992)
			margin-bottom: 30px
		p
			margin-bottom: 20px
			a
				color: $amaranth
	&__block
		display: flex
		padding-top: 10px
		margin-bottom: 20px
		//+r(768)
		//	flex-wrap: wrap
		&_img
			text-align: center
			width: 25%
			padding-left: 20px
			+r(768)
				padding-top: 30px
			+r(576)
				padding-top: 40px
			img
				border-radius: 50%
				max-width: 175px
				width: 100%
				height: auto
				margin-bottom: 30px
				position: relative
				//+r(768)
				//	margin-bottom: 0
				//	margin-right: 30px
			&::before
				content: ''
				position: absolute
				width: 200px
				height: 200px
				background: $white
				left: 20px
				top: 0
				border-radius: 50%
				+r(992)
					content: none
			p
				text-transform: uppercase
				font-weight: 700
				font-size: 11px
				color: $firefly
			strong
				display: inline-block
				font-weight: 400
				font-size: 18px
				color: $firefly
		&_info
			width: 75%
			padding-left: 20px
			padding-top: 15px
			position: relative
			+r(768)
				width: 100%
				padding-top: 40px
			h3
				font-size: 18px
				font-weight: 400
				color: $cod-gray
				margin-bottom: 5px
			span
				display: inline-block
				margin-bottom: 40px
				font-weight: 700
				text-transform: uppercase
				font-size: 11px
				+r(768)
					margin-bottom: 20px
		&_text
			overflow: hidden
			color: $mine-shaft
			max-height: none
			height: auto
			p
				margin-bottom: 13px
				font-weight: 300
				&:nth-child(1)
					font-weight: 600
				+r(576)
					line-height: 1.3em
	&__more-info
		font-weight: 600
		font-size: 12px
		color: $curious-blue
		text-transform: uppercase
		cursor: pointer
		z-index: 100
		padding-top: 10px
	.swiper-pagination-fraction
		width: 100px
		top: 0
		right: 90px
		left: auto
		height: 40px
		font-size: 18px
		color: $cod-gray
	.swiper-pagination-current
		font-size: 36px
		line-height: 1em
	.swiper-button-prev, .swiper-button-next
		top: 2px
		font-weight: 600
		font-size: 10px
		color: black
		text-transform: uppercase
		background-image: none
		width: 65px
		height: 35px
		margin-top: 0
		text-align: center
		padding-top: 7px
		border: 1px solid $curious-blue-dark
		&:hover
			color: $curious-blue
	.swiper-button-prev
		left: auto
		right: 180px
	.swiper-button-next
		right: 40px
	&__slider
		position: relative
		&::before, &::after
			content: ''
			position: absolute
			+r(768)
				content: none
		&::before
			background: $mercury
			width: 100vw
			top: 89px
			height: 1px
			left: 29%
		&::after
			left: 29%
			top: 86px
			width: 5px
			height: 5px
			background: $curious-blue
