.second-screen
	position: relative
	margin-top: 60px
	+r(1200)
		margin-top: 0
		padding-bottom: 100px
		margin-bottom: 120px
	+r(992)
		margin-bottom: 50px
	+r(768)
		padding-top: 200px
	+r(767)
		padding-top: 120px
	+r(576)
		margin-top: 20px
		margin-bottom: 70px
	&__wrapper
		.main-title
			h2
				font-weight: 900
				font-size: 48px
				text-transform: uppercase
				margin-bottom: 30px
				line-height: 1em
				+r(992)
					line-height: 1.3em
					font-size: 46px
				+r(768)
					font-size: 38px
					margin-bottom: 15px
				+r(576)
					font-size: 24px
					margin-bottom: 10px
				br
					display: none
					+r(576)
						display: block
				span
					background: $maroon-flush
					padding: 5px 10px
					line-height: 1.5em
					+r(768)
						padding: 5px
						font-size: 38px
					+r(576)
						font-size: 24px

			p
				color: $not-white
				font-weight: 300
